
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(212 163 163 / 14%);;
  padding:5px;
  height: 100vh;
}
form{
  background-color: rgb(201, 220, 236);
  border: 2px solid black;
  margin:20vh auto 5px auto;
  align-content: center;
  width: 300px;
  height: fit-content;
  padding: 5px;
  background-size: contain;

}

.container{
  
  margin-top: 10%;
}
.div-inp{
  width:200px;
  margin-left: auto;
  margin-right: auto;
}

.div-but{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
#login{
  width:80px;
  height: 80px;
  display: flex;
  flex-wrap:wrap;
  align-content: center;
  
}

p {
  display: flex;
  flex-direction: row;
  font-size: 0.5rem;
}
p:before, p:after{
  content: "";
  flex: 1 1;
  border-bottom: 0.1px solid;
  margin: auto;
}
p:before {
  margin-right: 5px
}
p:after {
  margin-left: 5px
}
