<div class="home-page-container">
  <div class="first-page-items">
    <div class="build-item">
      <h1>Build your business Together</h1>
      <br>
      <div class="build-item-but">
        <a
          href="https://play.google.com/store?gl=CH&utm_source=emea_Med&utm_medium=offsem&utm_content=Apr2021&utm_campaign=Evergreen&pcampaignid=MKT-EDR-emea-ch-1001280-Med-offsem-py-Evergreen-Apr2021-Text_Search_BKWS|OFFSEM_kwid_43700062920167301&gclid=95d446612739127d25c126cf62392a32&gclsrc=3p.ds&utm_term=google%20play%20store">
          <div class="google-play-button">
            <img class="google-play" src="https://img.icons8.com/doodle/2x/google-play.png" alt="">
            <div class="but-google-play">Google Play</div>
          </div>
        </a>
        <a href="https://www.apple.com/chde/ios/app-store/">
          <div class="app-store-button">
            <img class="app-store" src="https://img.icons8.com/metro/2x/mac-os.png" alt="">
            <div class="but-app-store">App Store</div>
          </div>
        </a>

      </div>
    </div>
    <div class="img-item">
      <img class="banner" src="https://demo.themefisher.com/agico/images/banner/banner-3.png" alt="">
    </div>
  </div>
  <div class="second-page-container">
    <div class="second-page-item">
      <img class="second-page-img" src="https://img.icons8.com/flat-round/2x/windows10-personalization.png" alt="">
      <br>
      <br>
      <h3>Exclusive Design</h3>
      <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
    </div>
    <div class="second-page-item">
      <img class="second-page-img" src="https://img.icons8.com/flat-round/2x/settings.png" alt="">
      <br>
      <br>
      <h3>Easy Customize</h3>
      <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
    </div>
    <div class="second-page-item">
      <img class="second-page-img" src="https://img.icons8.com/flat-round/2x/favorites-shield.png" alt="">
      <br>
      <br>
      <h3>Extreme Security</h3>
      <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
    </div>
    <div class="second-page-item">
      <img class="second-page-img" src="https://img.icons8.com/flat-round/2x/clock.png" alt="">
      <br>
      <br>
      <h3>24 Hour Service</h3>
      <p>Lorem ipsum dolor sit amet consectetur elit sed do</p>
    </div>
  </div>
  <div class="third-page-container">
    <div class="third-page-img-item">
      <img class="third-page-img" src="https://demo.themefisher.com/agico/images/integration/integration-2.png" alt="">
    </div>
    <div class="third-page-item">
      <h1 style="color:white;">Aspernatur Aut Odit Fugit Sed Quia Consetur.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor incididunt.enim ad minim veniam, quis
        nostrud exer citation ulla mco laboris nisi ut aliquip commodo.</p>
      <ul>
        <li>
          <h4>Extreme Security</h4>
          <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna.</p>
        </li>
        <li>
          <h4>Extreme Security</h4>
          <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna.</p>
        </li>
      </ul>
    </div>
  </div>
</div>