* {
  margin: 0px;
  box-sizing: border-box;
}

.nav-bar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100px;
  align-content: center;
  justify-items: center;
  box-shadow: 0px 0px 8px 0px rgb(22, 21, 21);
}
.nav-logo {
  padding-left: 10px ;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.item-container {
  display: flex;
  justify-content: center;
  width: fit-content;
}
.nav-item {
  padding: 10px;
  flex-grow: 1;
}
.nav-botton {
  align-content: center;
  justify-content: center;
  width: fit-content;
}
.but-logout {
  border: 2px solid rgb(25, 87, 168);
  border-radius: 50px;
  width: 150px;
  height: 55px;
  background-color: white;
  font-size: 20px;
  color: rgb(28, 69, 156);
}
a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
