* {
  box-sizing: border-box;
}
.nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0,0.3);
  background-color: rgb(231, 240, 247);
  
}

.nav-bar-item-container {
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-items: center;
}
.nav-logo {
  width: fit-content;
}
.item {
  display: flex;
}
.item-container {
  flex-grow: 1;
  align-items: center;
}

.item-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-left:100px;
  padding-right:100px;
}

.but-logout {
  border: 2px solid rgb(25, 87, 168);
  background-color: white;
  border-radius: 50px;
  font-size: 20px;
  width: 150px;
  height: 55px;
  justify-content: center;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

a {
  font-size: 17px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}
