<div class='nav-bar-container'>
  <div class=nav-bar-item-container>
    <div class="nav-logo item">
      <img src="https://demo.themefisher.com/agico/images/logo/logo-dark.png" alt="">
    </div>

    <div class='item-container item'>
      <div class="item-link">
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('home')">Home</a>
        </div>
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('about')">About</a>
        </div>
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('services')">Services</a>
        </div>
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('pages')">Pages</a>
        </div>
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('blog')">Blog</a>
        </div>
        <div class='nav-item'>
          <a routerLink="" (click)="gotoComp('contact')">Contact</a>
        </div>
      </div>
      <div class="nav-button">
        <button class="but-logout" (click)="logoutClick()">Logout</button>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>